/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos del encabezado */
header {
    background-color: #0fe600;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-institucion {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
}

h1 {
    margin: 0;
    font-weight: 600;
}

/* Estilos de la sección de perfil */
.profile {
    background-color: #fff;
    padding: 40px 0;
    margin-top: -20px;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo {
    flex: 1;
    text-align: center;
}

.circular {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 4px solid  #0fe600;
}

.description {
    flex: 2;
    padding-left: 20px;
}

.trapecio {
    background: linear-gradient(135deg, gray 30%,  black);
    padding: 20px;
    color: #fff;
    border-radius: 5px;
    position: relative;
    transform: skew(-10deg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.trapecio p {
    transform: skew(10deg);
    margin: 0;
}

/* Estilos de la sección de habilidades */
.skills {
    background-color:  #0fe600;
    color: #fff;
    padding: 40px 0;
}

.skills h2 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skill {
    background: #fff;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: calc(33% - 20px);
    box-sizing: border-box;
}

.skill img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.skill label {
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
}

.skill progress {
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: #ddd;
}

.skill progress::-webkit-progress-bar {
    background-color: #ddd;
    border-radius: 5px;
}

.skill progress::-webkit-progress-value {
    background-color:  #0fe600;
    border-radius: 5px;
}

.skill progress::-moz-progress-bar {
    background-color:  #0fe600;
    border-radius: 5px;
}

/* Estilos del pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}
